.tipsPadding {
  margin-top: 40px;
  background-color: #78c2ff;
}

.card {
  width: 262px;
  height: min-content;
  padding: 0;
  border: 0;
  margin-top: 60px;
}

.card-body {
  padding: 0;
  border-radius: 6px;
}
.overlaysZIndex {
  position: absolute;
  z-index: 1;
}
.circleOverflow {
  overflow: hidden;
}

.card-title {
  padding-top: 70px;
  overflow: hidden;
  padding-bottom: 10px;
}

.card-text {
  margin: 0 40px 0 40px;
}

.overlaysRT {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background: linear-gradient(
    52.48deg,
    #cfe9ff 0%,
    rgba(207, 233, 255, 0) 87.81%
  );
  display: inline-block;
  transform: translate(-90%, -50%);
}
.overlaysLD {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background: linear-gradient(
    142.48deg,
    #cfe9ff 0%,
    rgba(207, 233, 255, 0) 87.81%
  );
  transform: translate(130%, 40%);
}

.overlaysC {
  position: absolute;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #78c2ff;
  transform: translate(-50%, -50%);
  border: 22px;
  border-color: white;
  border-style: solid;
  padding-top: 11px;
}
