@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=IBM+Plex+Mono:wght@500;600;700&family=IBM+Plex+Sans+Condensed:wght@700&display=swap");

.type {
  &-1 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
  }
  &-2 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  }
  &-3 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
  }
  &-4 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }
  &-5 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  &-5-ink {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--smoke);
  }
}

.header {
  &-1 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
  }
  &-2 {
    font-family: "IBM Plex Sans Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }

  &-2-ink {
    font-family: "IBM Plex Sans Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: var(--smoke);
  }

  &-3 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
  }
  &-4 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
  &-4-ink {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--smoke);
  }
}

.txt {
  &-1 {
    font-family: "IBM Plex Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  &-2 {
    font-family: "IBM Plex Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
  }

  &-3 {
    font-family: "IBM Plex Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
}

.note {
  &-1 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
  }
  &-2 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
  }
  &-3 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
  &-4 {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
}
